body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-root {
  display: grid;
  grid-template-columns:  1fr 40em 1fr;
  grid-template-rows:  5em auto auto;
}

.main-logo {
  font-size: 2em;
  font-weight: bold;
  grid-row: 1;
  grid-column: 2;
}

.screens {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows:  auto auto;
}


.screens>.tabs {
  grid-row: 1;
  grid-column: 1 / span 3;

  display: flex;
  flex-direction: row;

}

.screens>.tabs::after {
  border-bottom: 2px solid black;
  content: ' ';
  flex-grow: 2;
} 

.screens>.tabs>.deal-tab-header {
  border: 2px solid black;
  flex-grow: 0;
  min-width: 6em;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.screens>.tabs>.deal-tab-header.active {
  font-weight: bold;
  border-bottom: 2px solid #ffffff00;
}

.screens>.tabs>.deal-tab-header>.header-text {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.8em;
}

.screens>.tabs>.deal-tab-header>.close-button {
  flex-grow: 0;
}

.screens>.active-tab {
  grid-row: 2;
  grid-column: 1;

  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  
}