#app-root {
    display: grid;
    grid-template-columns:  1fr 40em 1fr;
    grid-template-rows:  5em auto auto;
}

.main-logo {
    font-size: 2em;
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
}

.screens {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  auto auto;
}