#app-root {
    display: grid;
    grid-template-columns:  1fr 40em 1fr;
    grid-template-rows:  5em 21em auto;
}

.main-logo {
    font-size: 2em;
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
}

.screens {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  2em 19em;
}


.screens>.tabs {
    grid-row: 1;
    grid-column: 1 / span 3;

    display: flex;
    flex-direction: row;

}

.screens>.tabs::after {
    border-bottom: 2px solid black;
    content: ' ';
    flex-grow: 2;
} 

.screens>.tabs>.deal-tab-header {
    border: 2px solid black;
    flex-grow: 0;
    width: 5em;
    text-align: center;
}

.screens>.tabs>.deal-tab-header.active {
    font-weight: bold;
    border-bottom: 2px solid #ffffff00;
}

.screens>.active-tab {
    grid-row: 2;
    grid-column: 1;

    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    
}